.home-centre {
    margin-top: 70px;
}
.home-title-text {
    font-size: 28px;
}

.home-post-list {
    margin-left: 40px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.home-post-container, .home-post-details {
    display: flex;
    flex-direction: column;
    align-items: start;
}
.home-post-container {
    border: solid black 2px;
    padding-left: 20px;
    padding-bottom: 10px;
    border-radius: 10px;
    width: 400px;
}
.home-post-user {
    display: flex;
    align-items: center;
    gap: 10px;
}
.home-post {
    height: 250px;
}
.home-post-hashtag {
    margin-top: -10px;
}